<header>
    <div class="navbar bg-dark">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size : 30px" class=" fas fa-shipping-fast text-light"></i>
            <strong class="text-light ml-3"> Shopping website</strong>
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Products">
            </div>
            <span class="fas fa-search search-icon"></span> -->
        </div>
        <button class="btn btn-dark" routerLink="/dashboard">Home</button>
        <button class="btn btn-dark" routerLink="/login">Login</button>
        <button class="btn btn-dark" routerLink="/cart">View Cart</button>
        <button class="btn btn-dark">
            <i style="font-size: 30px" class="fas fa-cart-plus"></i>
            <div style="font-size : 10px" class="badge bg-danger">{{count}}</div>
        </button>
    </div>

</header>
